.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.login-card {
  width: 400px;
  text-align: center;
  padding: 24px;

  mat-card-header {
    justify-content: center;
    margin-bottom: 16px;
  }
}
